.random-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 50vw;
    height: auto;
    background-color: rgba(65,216,115,255);
    gap:2em;
    align-items: center;
    border-radius: 10px;
    margin-top: 0px;
}

.random-container img {
    height: 30vh;
    width: 20vw;
}

.random-container h1{
    text-decoration: underline;
    font-size: 30px;
    /* border: 1px solid white; */
    margin-bottom: 2px;
}

.random-container button {
    background-color: rgba(251,253,253,255);
    color: black;
    padding: 10px 15em 10px 15em;
    margin-bottom: 15px;
    margin-left:10px;
    margin-right:10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.random-container button:hover {
    cursor: pointer;
}
