.spinner {
   width: 11.2px;
   height: 11.2px;
   animation: spinner-z355kx 3s infinite linear;
   border-radius: 11.2px;
   box-shadow: 28px 0px 0 0 #47ffbf, 17.4px 21.8px 0 0 #47ffbf, -6.2px 27.2px 0 0 #47ffbf, -25.2px 12px 0 0 #47ffbf, -25.2px -12px 0 0 #47ffbf, -6.2px -27.2px 0 0 #47ffbf, 17.4px -21.8px 0 0 #47ffbf;
}

@keyframes spinner-z355kx {
   to {
      transform: rotate(360deg);
   }
}